.head {
    background-color: rgb(111, 44, 44) ;
    color: white;
    padding: 20px 10px;
    nav {
        display: flex;
        justify-content: end;
        ul{
            width: 660px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}