<app-header></app-header>
<div class="cart-container">

  <div class="remove-all" *ngIf="cartItems.length != 0" (click)="removeAllItem()">
    Clear All
  </div>
  <div class="product-card" *ngFor="let cart of cartItems">

    <div class="product-image">
      <img [src]="cart.image" [alt]="cart.category">
    </div>

    <div class="product-details">

      <h3 class="product-title">
        {{ cart.title }}
      </h3>

      <p class="product-description">
        {{ cart.description }}
      </p>

      <div class="product-price">
        ₹ {{ cart.price }}
      </div>

      <div class="product-rating">
        ⭐ {{ cart.rating?.rate }}
        <span>({{ cart.rating?.count }} reviews)</span>
      </div>

      <div class="cart-count">
        In Cart: {{ cart.cartCount }}
      </div>

      <button class="cart-btn" (click)="removeItem(cart)">
        Remove Product
      </button>

    </div>

  </div>

</div>